# Core Dump
core

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.bin
*.elf
ct

#header dependency information
*.d

#text file temporaries
*.swp

#cmake generated
Makefile
CMakeCache.txt
cmake_install.cmake
CMakeFiles
